<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <staticContent>
        <remove fileExtension=".html" />
        <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
        <remove fileExtension=".css" />
        <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
        <remove fileExtension=".js" />
        <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
      </staticContent>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Observatorios.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
